
.servisesContainer {
margin: 0 auto;
width: 80%;
padding: 0;

}
.servisesContainer .col-lg-4{
    text-align: center;
    padding: 8px;
}
.servisesContainer .col-lg-4 .con{
    border: solid rgb(231, 231, 231);
    border-width: 1px 3px 1px 1px ;
    border-collapse: collapse;
    padding: 24px 24px 60px 24px;

}
.servisesContainer img{
width: 80px;
height: 80px;
margin-top: 16px;

}
.servisesContainer  h4{
margin-bottom: 16px;}
.servisesContainer p{
    text-align: justify;
    color: #868e96;
    font-size: 17px;
}
.readyToAcc{
    margin-top: 80px;
}